@@ -9,9 +9,42 @@ body {

  main {
    background: white;
    width: 500px;
    width: 50%;
    height: 70%;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  main header h1 {
    text-align: center;
  }
  
  article {
    width: auto;
    height: auto;
    margin: auto;
    padding: 20px 40px ;
  
  }
  
  article h2 {
    text-align: center;
    margin-top: 30px;
  }
  
  article p {
    margin: 10px;
    text-align: center;
    height: 5em;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }