* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

body {
  background-color: rgb(173, 114, 228);
}

  main {
    background: white;
    width: 50%;
    max-height: 90vh;
    margin: auto;
    padding: 0,625rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  main header h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  article {
    margin: auto;
    padding: 20px 40px;
  }
  
  article h2 {
    text-align: center;
    margin-top: 30px;
    height: auto;
  }
  
  article p {
    margin: 0,625rem;
    text-align: center;
    width: auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 640px) {
    main {
      background: white;
      margin: auto;
      padding: 0,625rem;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
      border-radius: 20px;

      width: 50vw;
      height: 90vh;
    } 

    main header h1 {
      text-align: center;
    }
    
    article {
      margin: auto;
      padding: 0.2rem 0.2rem;
    }
    
    article h2 {
      text-align: center;
      /* margin-top: 30px; */
      height: auto;
    }
    
    article p {
      margin: 0.7rem;
      text-align: center;
    }
  }